<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>SHENGXIAO0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>SHENGXIAO1.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,0},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>SHENGXIAO2.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>SHENGXIAO3.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,0},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>SHENGXIAO4.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,0},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>SHENGXIAO5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,90},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>SHENGXIAO6.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,90},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>SHENGXIAO7.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,90},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>SHENGXIAO8.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,90},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>SHENGXIAO9.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,90},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>SHENGXIAO10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>SHENGXIAO11.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,180},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SHENGXIAO.png</string>
			<key>realTextureFileName</key>
			<string>SHENGXIAO.png</string>
			<key>size</key>
			<string>{450,270}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>450</integer>
			<key>height</key>
			<integer>270</integer>
		</dict>
	</dict>
</plist>