<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>NPC080_DOWN01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>NPC080_DOWN02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>NPC080_DOWN03.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>NPC080_DOWN04.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>NPC080_LEFT01.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>NPC080_LEFT02.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>NPC080_LEFT03.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>NPC080_LEFT04.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>NPC080_RIGHT01.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>NPC080_RIGHT02.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>NPC080_RIGHT03.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>NPC080_RIGHT04.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>NPC080_UP01.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>NPC080_UP02.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>NPC080_UP03.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>NPC080_UP04.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>NPC080.png</string>
			<key>realTextureFileName</key>
			<string>NPC080.png</string>
			<key>size</key>
			<string>{800,200}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>800</integer>
			<key>height</key>
			<integer>200</integer>
		</dict>
	</dict>
</plist>