<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>NPC030_DOWN01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{95,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,115}</string>
			</dict>
			<key>NPC030_DOWN02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,115},{95,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,115}</string>
			</dict>
			<key>NPC030_DOWN03.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,0},{95,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,115}</string>
			</dict>
			<key>NPC030_DOWN04.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,115},{95,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,115}</string>
			</dict>
			<key>NPC030_LEFT01.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,0},{95,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,115}</string>
			</dict>
			<key>NPC030_LEFT02.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,115},{95,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,115}</string>
			</dict>
			<key>NPC030_LEFT03.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,0},{95,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,115}</string>
			</dict>
			<key>NPC030_LEFT04.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,115},{95,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,115}</string>
			</dict>
			<key>NPC030_RIGHT01.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,0},{95,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,115}</string>
			</dict>
			<key>NPC030_RIGHT02.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,115},{95,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,115}</string>
			</dict>
			<key>NPC030_RIGHT03.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,0},{95,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,115}</string>
			</dict>
			<key>NPC030_RIGHT04.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,115},{95,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,115}</string>
			</dict>
			<key>NPC030_UP01.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,0},{95,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,115}</string>
			</dict>
			<key>NPC030_UP02.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,115},{95,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,115}</string>
			</dict>
			<key>NPC030_UP03.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,0},{95,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,115}</string>
			</dict>
			<key>NPC030_UP04.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,115},{95,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,115}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>NPC030.png</string>
			<key>realTextureFileName</key>
			<string>NPC030.png</string>
			<key>size</key>
			<string>{760,230}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>760</integer>
			<key>height</key>
			<integer>230</integer>
		</dict>
	</dict>
</plist>