<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>NPC010_DOWN01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>NPC010_DOWN02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,98},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>NPC010_DOWN03.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,0},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>NPC010_DOWN04.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,98},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>NPC010_LEFT01.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,0},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>NPC010_LEFT02.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,98},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>NPC010_LEFT03.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,0},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>NPC010_LEFT04.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,98},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>NPC010_RIGHT01.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,0},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>NPC010_RIGHT02.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,98},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>NPC010_RIGHT03.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,0},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>NPC010_RIGHT04.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,98},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>NPC010_UP01.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,0},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>NPC010_UP02.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,98},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>NPC010_UP03.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,0},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
			<key>NPC010_UP04.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,98},{74,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,98}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>NPC010.png</string>
			<key>realTextureFileName</key>
			<string>NPC010.png</string>
			<key>size</key>
			<string>{592,196}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>592</integer>
			<key>height</key>
			<integer>196</integer>
		</dict>
	</dict>
</plist>