<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>PLAYFM_DOWN01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{82,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,95}</string>
			</dict>
			<key>PLAYFM_DOWN02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,95},{82,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,95}</string>
			</dict>
			<key>PLAYFM_DOWN03.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{82,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,95}</string>
			</dict>
			<key>PLAYFM_DOWN04.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,95},{82,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,95}</string>
			</dict>
			<key>PLAYFM_LEFT01.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{82,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,95}</string>
			</dict>
			<key>PLAYFM_LEFT02.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,95},{82,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,95}</string>
			</dict>
			<key>PLAYFM_LEFT03.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,0},{82,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,95}</string>
			</dict>
			<key>PLAYFM_LEFT04.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,95},{82,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,95}</string>
			</dict>
			<key>PLAYFM_RIGHT01.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,0},{82,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,95}</string>
			</dict>
			<key>PLAYFM_RIGHT02.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,95},{82,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,95}</string>
			</dict>
			<key>PLAYFM_RIGHT03.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,0},{82,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,95}</string>
			</dict>
			<key>PLAYFM_RIGHT04.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,95},{82,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,95}</string>
			</dict>
			<key>PLAYFM_UP01.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,0},{82,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,95}</string>
			</dict>
			<key>PLAYFM_UP02.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,95},{82,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,95}</string>
			</dict>
			<key>PLAYFM_UP03.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,0},{82,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,95}</string>
			</dict>
			<key>PLAYFM_UP04.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,95},{82,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,95}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PLAYFM.png</string>
			<key>realTextureFileName</key>
			<string>PLAYFM.png</string>
			<key>size</key>
			<string>{656,190}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>656</integer>
			<key>height</key>
			<integer>190</integer>
		</dict>
	</dict>
</plist>