<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>PLAYM_DOWN01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>PLAYM_DOWN02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,98},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>PLAYM_DOWN03.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,0},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>PLAYM_DOWN04.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,98},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>PLAYM_LEFT01.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,0},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>PLAYM_LEFT02.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,98},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>PLAYM_LEFT03.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,0},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>PLAYM_LEFT04.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,98},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>PLAYM_RIGHT01.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,0},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>PLAYM_RIGHT02.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,98},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>PLAYM_RIGHT03.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,0},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>PLAYM_RIGHT04.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,98},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>PLAYM_UP01.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,0},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>PLAYM_UP02.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,98},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>PLAYM_UP03.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,0},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>PLAYM_UP04.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,98},{84,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PLAYM.png</string>
			<key>realTextureFileName</key>
			<string>PLAYM.png</string>
			<key>size</key>
			<string>{672,196}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>672</integer>
			<key>height</key>
			<integer>196</integer>
		</dict>
	</dict>
</plist>